@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --font-mono: "Space Mono", monospace;
}

body {
  background-color: #1e1b4b; /* indigo-950 fallback */
  background-image: url('/images/background.svg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}